<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='client-info.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Client Information</title>
</head>
<body>
    <a href="{{ url_for('home') }}">
        <img src="static/images/ChatGPT Image 22 Nis 2026 17_11_26.png" alt="Go back button">
    </a>

    <div id="saat"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>